{
    "BTC": "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart",
    "ETH": "https://api.coingecko.com/api/v3/coins/ethereum/market_chart",
    "USDT": "https://api.coingecko.com/api/v3/coins/tether/market_chart",
    "BNB": "https://api.coingecko.com/api/v3/coins/binancecoin/market_chart",
    "USDC": "https://api.coingecko.com/api/v3/coins/usd-coin/market_chart",
    "XRP": "https://api.coingecko.com/api/v3/coins/ripple/market_chart",
    "ADA": "https://api.coingecko.com/api/v3/coins/cardano/market_chart",
    "DOGE": "https://api.coingecko.com/api/v3/coins/dogecoin/market_chart",
    "SOL": "https://api.coingecko.com/api/v3/coins/solana/market_chart",
    "MATIC": "https://api.coingecko.com/api/v3/coins/polygon/market_chart",
    "DOT": "https://api.coingecko.com/api/v3/coins/polkadot/market_chart",-t 
    "LTC": "https://api.coingecko.com/api/v3/coins/litecoin/market_chart",
    "SHIB": "https://api.coingecko.com/api/v3/coins/shiba-inu/market_chart",
    "TRX": "https://api.coingecko.com/api/v3/coins/tron/market_chart",
    "AVAX": "https://api.coingecko.com/api/v3/coins/avalanche-2/market_chart",
    "Dai": "https://api.coingecko.com/api/v3/coins/dai/market_chart",
    "WBTC": "https://api.coingecko.com/api/v3/coins/wrapped-bitcoin/market_chart",
    "UNI": "https://api.coingecko.com/api/v3/coins/uniswap/market_chart",
    "LEO": "https://api.coingecko.com/api/v3/coins/leo-token/market_chart",
    "ATOM": "https://api.coingecko.com/api/v3/coins/cosmos/market_chart",
    "LINK": "https://api.coingecko.com/api/v3/coins/chainlink/market_chart",
    "ETC": "https://api.coingecko.com/api/v3/coins/ethereum-classic/market_chart",
    "XLM": "https://api.coingecko.com/api/v3/coins/stellar/market_chart",
    "BCH": "https://api.coingecko.com/api/v3/coins/bitcoin-cash/market_chart",
    "TON": "https://api.coingecko.com/api/v3/coins/the-open-network/market_chart",
    "LDO": "https://api.coingecko.com/api/v3/coins/lido-dao/market_chart",
    "FIL": "https://api.coingecko.com/api/v3/coins/filecoin/market_chart",
    "OKB": "https://api.coingecko.com/api/v3/coins/okb/market_chart",
    "APT": "https://api.coingecko.com/api/v3/coins/aptos/market_chart",
    "CRO": "https://api.coingecko.com/api/v3/coins/crypto-com-chain/market_chart",
    "QNT": "https://api.coingecko.com/api/v3/coins/quant-network/market_chart",
    "NEAR": "https://api.coingecko.com/api/v3/coins/near/market_chart",
    "VET": "https://api.coingecko.com/api/v3/coins/vechain/market_chart",
    "HNT": "https://api.coingecko.com/api/v3/coins/helium/market_chart",
    "FTM": "https://api.coingecko.com/api/v3/coins/fantom/market_chart",
    "EGLD": "https://api.coingecko.com/api/v3/coins/elrond-erd-2/market_chart",
    "GRT": "https://api.coingecko.com/api/v3/coins/the-graph/market_chart",
    "AAVE": "https://api.coingecko.com/api/v3/coins/aave/market_chart",
    "KLAY": "https://api.coingecko.com/api/v3/coins/klay-token/market_chart",
    "RUNE": "https://api.coingecko.com/api/v3/coins/thorchain/market_chart",
    "NEO": "https://api.coingecko.com/api/v3/coins/neo/market_chart",
    "HT": "https://api.coingecko.com/api/v3/coins/huobi-token/market_chart",
    "BAT": "https://api.coingecko.com/api/v3/coins/basic-attention-token/market_chart",
    "TUSD": "https://api.coingecko.com/api/v3/coins/true-usd/market_chart",
    "ENJ": "https://api.coingecko.com/api/v3/coins/enjincoin/market_chart",
    "CHZ": "https://api.coingecko.com/api/v3/coins/chiliz/market_chart",
    "ZIL": "https://api.coingecko.com/api/v3/coins/zilliqa/market_chart",
    "THETA": "https://api.coingecko.com/api/v3/coins/theta-token/market_chart",
    "SNX": "https://api.coingecko.com/api/v3/coins/synthetix-network-token/market_chart",
    "KSM": "https://api.coingecko.com/api/v3/coins/kusama/market_chart",
    "DGB": "https://api.coingecko.com/api/v3/coins/digibyte/market_chart",
    "XMR": "https://api.coingecko.com/api/v3/coins/monero/market_chart",
    "ZEC": "https://api.coingecko.com/api/v3/coins/zcash/market_chart",
    "COMP": "https://api.coingecko.com/api/v3/coins/compound-governance-token/market_chart",
    "IOTA": "https://api.coingecko.com/api/v3/coins/iota/market_chart",
    "WAVES": "https://api.coingecko.com/api/v3/coins/waves/market_chart",
    "OMG": "https://api.coingecko.com/api/v3/coins/omisego/market_chart",
    "ONT": "https://api.coingecko.com/api/v3/coins/ontology/market_chart",
    "ICX": "https://api.coingecko.com/api/v3/coins/icon/market_chart",
    "BTT": "https://api.coingecko.com/api/v3/coins/bittorrent-2/market_chart",
    "HOT": "https://api.coingecko.com/api/v3/coins/holotoken/market_chart",
    "BNT": "https://api.coingecko.com/api/v3/coins/bancor/market_chart",
    "XEM": "https://api.coingecko.com/api/v3/coins/nem/market_chart",
    "STMX": "https://api.coingecko.com/api/v3/coins/storm/market_chart",
    "CEL": "https://api.coingecko.com/api/v3/coins/celsius-degree-token/market_chart",
    "FLOW": "https://api.coingecko.com/api/v3/coins/flow/market_chart",
    "AR": "https://api.coingecko.com/api/v3/coins/arweave/market_chart",
    "SAND": "https://api.coingecko.com/api/v3/coins/the-sandbox/market_chart",
    "GALA": "https://api.coingecko.com/api/v3/coins/gala/market_chart",
    "IMX": "https://api.coingecko.com/api/v3/coins/immutable-x/market_chart",
    "CRV": "https://api.coingecko.com/api/v3/coins/curve-dao-token/market_chart",
    "FTT": "https://api.coingecko.com/api/v3/coins/ftx-token/market_chart",
    "MANA": "https://api.coingecko.com/api/v3/coins/decentraland/market_chart",
    "SUSHI": "https://api.coingecko.com/api/v3/coins/sushi/market_chart",
    "YFI": "https://api.coingecko.com/api/v3/coins/yearn-finance/market_chart",
    "QKC": "https://api.coingecko.com/api/v3/coins/quark-chain/market_chart",
    "ONE": "https://api.coingecko.com/api/v3/coins/harmony/market_chart",
    "ANKR": "https://api.coingecko.com/api/v3/coins/ankr/market_chart",
    "RLY": "https://api.coingecko.com/api/v3/coins/rally/market_chart",
    "SKL": "https://api.coingecko.com/api/v3/coins/skale/market_chart",
    "COTI": "https://api.coingecko.com/api/v3/coins/coti/market_chart",
    "BAND": "https://api.coingecko.com/api/v3/coins/band-protocol/market_chart",
    "OCEAN": "https://api.coingecko.com/api/v3/coins/ocean-protocol/market_chart",
    "REN": "https://api.coingecko.com/api/v3/coins/ren/market_chart",
    "UMA": "https://api.coingecko.com/api/v3/coins/uma/market_chart",
    "BAL": "https://api.coingecko.com/api/v3/coins/balancer/market_chart",
    "CVC": "https://api.coingecko.com/api/v3/coins/civic/market_chart",
    "CHR": "https://api.coingecko.com/api/v3/coins/chromaway/market_chart",
    "KEEP": "https://api.coingecko.com/api/v3/coins/keep-network/market_chart",
    "LRC": "https://api.coingecko.com/api/v3/coins/loopring/market_chart",
    "STORJ": "https://api.coingecko.com/api/v3/coins/storj/market_chart",
    "NKN": "https://api.coingecko.com/api/v3/coins/nkn/market_chart",
    "DNT": "https://api.coingecko.com/api/v3/coins/district0x/market_chart",
    "REQ": "https://api.coingecko.com/api/v3/coins/request/market_chart",
    "FUN": "https://api.coingecko.com/api/v3/coins/funfair/market_chart",
    "BTS": "https://api.coingecko.com/api/v3/coins/bitshares/market_chart",
    "POWR": "https://api.coingecko.com/api/v3/coins/power-ledger/market_chart",
    "MLN": "https://api.coingecko.com/api/v3/coins/enzyme/market_chart",
    "PAXG": "https://api.coingecko.com/api/v3/coins/pax-gold/market_chart"
}
